# macOS
.DS_Store

# Watchman
.watchmanconfig

# Node.js
node_modules/
npm-debug.log*
yarn-error.log*

# Metro
.metro-cache/
.metro-health-check*

# Android
android/.gradle/
android/.idea/
android/.cxx/
android/**/app/.cxx/  # 모든 app/.cxx 폴더도 제외
android/app/.cxx/     # 명확한 경로 지정
android/app/build/
android/build/
android/local.properties
android/*.iml
*.keystore
!android/app/debug.keystore

# iOS
ios/Pods/
ios/build/
ios/DerivedData/
ios/*.xcworkspace
ios/*.xcodeproj/project.xcworkspace/
ios/*.pbxuser
ios/*.mode1v3
ios/*.mode2v3
ios/*.perspectivev3
ios/*.xcuserstate
xcuserdata
*.xccheckout
*.moved-aside
*.ipa
*.hmap
.xcode.env
.xcode.env.local

# Ruby / CocoaPods
/vendor/bundle/
Gemfile.lock

# Bundle artifacts
*.jsbundle

# Testing
jest-test-results.json

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots/
**/fastlane/test_output/

# Coverage
coverage/

# Env files
.env
.env.*
*.env.*

# Yarn v2+
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Ignore bundle folder
.bundle/
